.card{
  padding: 1rem;
}
.form-struct{
  display: flex;
  flex-direction: column;
}

.campo{
  display: flex;
  flex-direction: column;
}

.button-struct{
  display: flex;
  justify-content: space-around;
}
