<mat-card class="card">
    <div class="form-title">
        <mat-card-title class="txt-center">Modificar Usuario</mat-card-title>
    </div>
    <form [formGroup]="formModify" class="form-struct">

        <div class="campo">
            <label>Cedula: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Cedula" formControlName="cedula">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Nombres: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Nombres" formControlName="nombres">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Apellidos: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Apellidos" formControlName="apellidos">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Email: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Correo Electrónico" formControlName="correo">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Género: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Genero" formControlName="id_genero">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Rol: </label>
            <mat-form-field class="campos-field">
                <mat-label>Seleccionar</mat-label>
                <mat-select formControlName="id_rol" matNativeControl required>
                    <mat-option [value]="1">Administrador</mat-option>
                    <mat-option [value]="2">Operador</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <mat-form-field class="campos-field">
            <input matInput placeholder="Contraseña" formControlName="password">
        </mat-form-field> -->



        <!-- <mat-form-field appearance="fill" class="campos-field">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol" [formControl]="rolControl" required ngDefaultControl>
                <mat-option>Seleccione un rol</mat-option>
                <mat-option *ngFor="let Rol of roles" [value]="Rol.Codigo">
                    {{Rol.Descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="rolControl.hasError('required')">Elija un rol</mat-error>
            <mat-hint>{{rolControl.value?.Codigo}}</mat-hint>
        </mat-form-field> -->

        <div class="button-struct">
            <button mat-raised-button color="primary" [disabled]="!formModify.valid"
                (click)="onSubmit()">Aceptar</button>
            <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</mat-card>