<mat-card>
    <div class="form-title">
        <mat-card-title class="form-title-style">Detalles de pago</mat-card-title>
    </div>
    <form [formGroup]="formModify" class="form-struct">

        <div class="campo">
            <label>Huesped: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Huesped" formControlName="huesped">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Encargado: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Encargado" formControlName="encargado">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Habitacion: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Habitacion" formControlName="habitacion">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Fecha Inicio: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Fecha Inicio" formControlName="fecha_inicio">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Fecha Fin: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Fecha Fin" formControlName="fecha_fin">
            </mat-form-field>
        </div>

        <div class="campo">
            <label>Tipo Pago: </label>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Tipo Pago" formControlName="tipo_pago">
            </mat-form-field>
        </div>

        <div class="button-struct">
            <button mat-raised-button color="primary" [disabled]="!formModify.valid"
                (click)="onSubmit()">Aceptar</button>
            <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</mat-card>