<mat-card class="card">
  <div class="form-title">
    <mat-card-title class="txt-center">CREAR SERVICIO</mat-card-title>
  </div>
  <form [formGroup]="formModify" class="form-struct">

    <div class="form-flex">
      <div class="campo">
        <label>Codigo: </label>
        <mat-form-field class="campos-field">
          <input matInput placeholder="Codigo" formControlName="codigo">
        </mat-form-field>
      </div>

      <div class="campo">
        <label>Nombre: </label>
        <mat-form-field class="campos-field">
          <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
      </div>
    </div>

    <div class="button-struct">
      <button mat-raised-button color="primary" [disabled]="!formModify.valid" (click)="onSubmit()">Aceptar</button>
      <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>