<h1>Opciones Menu Principal</h1>
<div class="container-cards">
    <div class="card-main">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION</span>
        </div>
    </div>
    <div class="card-main">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION</span>
        </div>
    </div>
    <div class="card-main">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION</span>
        </div>
    </div>
    <div class="card-main">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION</span>
        </div>
    </div>
    <div class="card-main">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION</span>
        </div>
    </div>
</div>