<div>
    <h1>OPCIONES DE MENÚ</h1>
</div>
<div class="container">
    <div class="opciones">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION DE PERSONAL</span>
        </div>
    </div>
    <div class="opciones">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION DE HABITACIONES</span>
        </div>
    </div>
    <div class="opciones">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION DE HUÉSPEDES</span>
        </div>
    </div>
    <div class="opciones">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION DE SERVICIOS OFRECIDOS</span>
        </div>
    </div>
    <div class="opciones">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION DE RESERVAS</span>
        </div>
    </div>
    <div class="opciones">
        <div class="buttons-main">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            <span>ADMINISTRACION DE PAGOS</span>
        </div>
    </div>
</div>