h1 {
    text-align: center;
}

div h1 {
    margin-top: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opciones {
    margin: 1%;
    width: 30%;
    height: 12em;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}

.opciones .buttons-main span {
    margin-top: 5%;
    text-align: center;
}

.opciones:hover {
    background-color: #f0a4a4;
}

.opciones:hover .buttons-main img {
    width: 29%;
}

img {
    width: 27%;
}

@media (max-width: 720px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .opciones {
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 70%;
        height: 11em;
    }

    img {
        width: 40%;
    }

    .opciones:hover .buttons-main img {
        width: 45%;
    }
}