<div>
    <h1>OPCIONES DE MENÚ</h1>
</div>
<div class="container">
    <div class="opciones">
        <div class="buttons-main" (click)="navegatePersonal()">
            <mat-icon style="width: 12rem; height: 12rem; font-size: 12rem;">admin_panel_settings</mat-icon>
            <span>ADMINISTRACION DE PERSONAL</span>
        </div>
    </div>
    <div class="opciones">
        <div class="buttons-main" (click)="navegateRooms()">
            <mat-icon style="width: 12rem; height: 12rem; font-size: 12rem;">room_preferences</mat-icon>
            <span>ADMINISTRACION DE HABITACIONES</span>
          </div>
        </div>
        <div class="opciones">
          <div class="buttons-main" (click)="navegateGuests()">
            <mat-icon style="width: 12rem; height: 12rem; font-size: 12rem;">wc</mat-icon>
            <span>ADMINISTRACION DE HUÉSPEDES</span>
          </div>
        </div>
        <div class="opciones">
          <div class="buttons-main" (click)="navegateServices()">
            <mat-icon style="width: 12rem; height: 12rem; font-size: 12rem;">support_agent</mat-icon>
            <span>ADMINISTRACION DE SERVICIOS OFRECIDOS</span>
          </div>
        </div>
        <!-- <div class="opciones">
          <div class="buttons-main" (click)="navegateReserves()">
            <mat-icon style="width: 12rem; height: 12rem; font-size: 12rem;">event_seat</mat-icon>
            <span>ADMINISTRACION DE RESERVAS</span>
          </div>
        </div> -->
        <div class="opciones">
          <div class="buttons-main" (click)="navegatePays()">
            <mat-icon style="width: 12rem; height: 12rem; font-size: 12rem;">receipt_long</mat-icon>
            <span>ADMINISTRACION DE PAGOS Y RESERVAS</span>
        </div>
    </div>
</div>
