<div>
    <h1>CÚPULA ADMINISTRATIVA</h1>
</div>
<div class="container">

    <button class="button-main buttons-margin">
        Registrar Nuevo Pago Directo
    </button>

    <button class="button-main buttons-margin">
        Registrar Nueva Reserva
    </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="huesped">
            <th mat-header-cell *matHeaderCellDef> Huesped </th>
            <td mat-cell *matCellDef="let element"> {{element.id_huesped}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="encargado">
            <th mat-header-cell *matHeaderCellDef> Encargado </th>
            <td mat-cell *matCellDef="let element"> {{element.id_personal_registro}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="habitacion">
            <th mat-header-cell *matHeaderCellDef> Habitacion </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fecha_inicio">
            <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_fin">
            <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
            <td mat-cell *matCellDef="let element"> {{element.ultima_actividad}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
            <td mat-cell *matCellDef="let element"> {{element.ultima_actividad}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo_pago">
            <th mat-header-cell *matHeaderCellDef> Tipo Pago </th>
            <td mat-cell *matCellDef="let element">
                <label *ngIf="element.id_tipo_pago === 1">
                    <div class="label-tipo-directo">Directo</div>
                </label>
                <label *ngIf="element.id_tipo_pago === 2">
                    <div class="label-tipo-reserva">Reserva</div>
                </label>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
                <div class="buttons">
                    <button class="button-details buttons-margin"
                        (click)="seeDetails(element)">
                        Ver Detalle
                    </button>
                    <button class="button-historic buttons-margin" (click)="seeDetails(element)">
                        Anular
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="paginator">
        <mat-paginator [pageSizeOptions]="[8, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>