<mat-card class="card">
  <div class="form-title">
    <mat-card-title class="txt-center">{{this.data.dataText}}</mat-card-title>
  </div>

  <form [formGroup]="formAdd" class="form-struct">
    <div class="form-flex">
      <div class="flex">
        <div class="form-flex">
          <div class="campo">
            <label>Numero de habitación: </label>
            <mat-form-field class="campos-field">
              <input matInput placeholder="Numero" formControlName="numero">
            </mat-form-field>
          </div>

          <div class="campo">
            <label>Precio: </label>
            <mat-form-field class="campos-field">
              <input matInput placeholder="Precio" formControlName="precio">
            </mat-form-field>
          </div>
        </div>

        <div class="form-flex">
          <div class="campo">
            <label>Tipo Habitacion: </label>
            <mat-form-field class="campos-field">
              <mat-label>Seleccionar</mat-label>
              <mat-select formControlName="tipo_habitacion" matNativeControl required>
                <mat-option [value]="1">Grande</mat-option>
                <mat-option [value]="2">Mediana</mat-option>
                <mat-option [value]="2">Pequeña</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="campo">
            <label>Opciones</label>
            <mat-form-field>
              <mat-label>Opciones</mat-label>
              <mat-select formControlName="opcionesSeleccionadas" multiple>
                <mat-option *ngFor="let opcion of opciones" [value]="opcion.valor">
                  {{opcion.vista}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-flex">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Seleccionar archivo" [value]="fileName" readonly>
            <mat-icon matSuffix>attach_file</mat-icon>
            <button mat-icon-button (click)="fileInput.click()" [disabled]="disabled">
              <mat-icon>folder_open</mat-icon>
            </button>
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
              accept=".jpg, .jpeg, .png">
          </mat-form-field>
        </div>
      </div>

      <img *ngIf="imageSrc" [src]="imageSrc" class="preview-image" />

      <div *ngIf="formAdd.get('foto')!.invalid && formAdd.get('foto')!.touched">
        Debes seleccionar una imagen.
      </div>

    </div>

    <div class="button-struct">
      <button mat-raised-button color="primary" [disabled]="!formAdd.valid" (click)="onSubmit()">Aceptar</button>
      <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>