<div>
    <h1>LISTADO DE HABITACIONES</h1>
</div>
<div class="container">
    <div class="options">

        <button class="text-center" mat-raised-button color="primary" (click)="create()">REGISTRAR NUEVA
            HABITACIÓN</button>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Numero </th>
                <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="tipo_habitacion">
                <th mat-header-cell *matHeaderCellDef> Tipo de Habitacion </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="element.tipoHabitacionId">
                        <span *ngSwitchCase=1>Mediana</span>
                        <span *ngSwitchCase=2>Pequeña</span>
                        <span *ngSwitchCase=3>Grande</span>
                        <span *ngSwitchDefault>Contenido por defecto</span>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="fecha_registro">
                <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="fecha_modificacion">
                <th mat-header-cell *matHeaderCellDef> Fecha Modificacion </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaModificacion}} </td>
            </ng-container>

            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>

            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                    <div class="buttons">
                        <button mat-mini-fab color="primary" (click)="seeModal(element)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-raised-button [color]="element.estadoId === 1 ? 'warn' : 'primary'"
                            (click)="statusEntity(element)">
                            {{ element.estadoId === 1 ? 'Desactivar' : 'Activar' }}
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="paginator">
            <mat-paginator [pageSizeOptions]="[8, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>