<div>
    <h1>{{this.data.dataText}}</h1>
</div>
<div class="container">

    <button (click)="create()" *ngIf="this.estadoHistorico != 1 && this.estadoHistorico != 3" class="button-main buttons-margin">
        Registrar Abono
    </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Nro. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="administrador">
            <th mat-header-cell *matHeaderCellDef> Registrado por </th>
            <td mat-cell *matCellDef="let element">
                {{element.administrador.nombres + " " + element.administrador.apellidos}}
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="valor_pagado">
            <th mat-header-cell *matHeaderCellDef> Valor Pagado </th>
            <td mat-cell *matCellDef="let element"> {{element.valorPagado}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_modificacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <label *ngIf="element.estadoId === 1">
                    <div>Pagado</div>
                </label>
                <label *ngIf="element.estadoId === 3">
                    <div>Anulado</div>
                </label>
            </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
                <div class="buttons">
                    <button *ngIf="this.estadoHistorico != 1 && this.estadoHistorico != 3 && element.estadoId != 3; else contenidoAlternativo"
                        (click)="statusEntity(element)" class="button-historic buttons-margin">
                        <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    <ng-template #contenidoAlternativo>
                        Acción no permitida.
                    </ng-template>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="paginator">
        <mat-paginator [pageSizeOptions]="[8, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>