<mat-card class="card">
  <div class="form-title">
      <mat-card-title class="txt-center">Modificar Habitación</mat-card-title>
  </div>
  <!-- <form [formGroup]="formModify" class="form-struct">

      <div class="campo">
        <label>Tipo de habitación </label>
        <mat-form-field class="campos-field">
            <mat-label>Seleccionar</mat-label>
            <mat-select formControlName="id_rol" matNativeControl required>
                <mat-option value="Client">Pequeña</mat-option>
                <mat-option value="Client">Normal</mat-option>
                <mat-option value="Administrator">Grande</mat-option>
            </mat-select>
        </mat-form-field>
      </div>


      <div class="campo">
        <label>Número de habitación </label>
        <mat-form-field class="campos-field">
            <input matInput placeholder="Nro" formControlName="apellidos">
        </mat-form-field>
    </div>

      <div class="campo">
          <label>Precio </label>
          <mat-form-field class="campos-field">
              <input matInput placeholder="$" formControlName="nombres">
          </mat-form-field>
      </div>

      <div class="campo">
        <label>Estado </label>
        <mat-form-field class="campos-field">
            <mat-label>Seleccionar</mat-label>
            <mat-select formControlName="id_rol" matNativeControl required>
                <mat-option value="Client">Activo</mat-option>
                <mat-option value="Administrator">Desactivo</mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div class="button-struct">
          <button mat-raised-button color="primary" [disabled]="!formModify.valid"
              (click)="onSubmit()">Aceptar</button>
          <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
      </div>
  </form> -->
</mat-card>
