<mat-card class="card">
  <div class="form-title">
    <mat-card-title class="txt-center">Modificar Administrador</mat-card-title>
  </div>
  <form [formGroup]="formModify" class="form-struct">

    <div class="campo">
      <label>Cedula: </label>
      <mat-form-field class="campos-field">
        <input matInput placeholder="Cedula" formControlName="cedula">
      </mat-form-field>
    </div>

    <div class="campo">
      <label>Nombres: </label>
      <mat-form-field class="campos-field">
        <input matInput placeholder="Nombres" formControlName="nombres">
      </mat-form-field>
    </div>

    <div class="campo">
      <label>Apellidos: </label>
      <mat-form-field class="campos-field">
        <input matInput placeholder="Apellidos" formControlName="apellidos">
      </mat-form-field>
    </div>

    <div class="campo">
      <label>Celular: </label>
      <mat-form-field class="campos-field">
        <input matInput placeholder="Celular" formControlName="celular">
      </mat-form-field>
    </div>

    <div class="campo">
      <label>Email: </label>
      <mat-form-field class="campos-field">
        <input matInput placeholder="Correo Electrónico" formControlName="email">
      </mat-form-field>
    </div>

    <div class="campo">
      <label>Género: </label>
      <mat-form-field class="campos-field">
        <mat-label>Seleccionar</mat-label>
        <mat-select formControlName="generoId" matNativeControl required>
          <mat-option [value]="1">Masculino</mat-option>
          <mat-option [value]="2">Femenino</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-struct">
      <button mat-raised-button color="primary" [disabled]="!formModify.valid" (click)="onSubmit()">Aceptar</button>
      <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>