/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-size: 1.6rem;
  background-color: bisque;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}
.txt-center{
  text-align: center;
}

.custom-swal {
  width: 100%; 
}
