.form-struct {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.form-title {
    text-align: center;
}

.form-title-style {
    margin: 2em;
}

.campos-field {
    width: 100%;
}

label {
    width: 100%;
}

.button-struct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
}

.campo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    margin: 1%;
}